# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
/cmake-build-debug
/cmake-build-release
/.idea

/build
/libs
/data
/output
/output_coke
/output_dishes
/output_plant_128
/output_plant_512
/output_teddy
/output_teddy_new
.DS_Store
.vscode/
